{% extends "base.twig" %}
    {% block title %} Favourite Products {% endblock %}
    {% block titulo %} Favourite Products {% endblock %}
    {% block body %}

        <div class="container container-margin">

            {% if  success_message != null %}
                <p class="success">{{ success_message }}</p>
            {% endif %}

            <div class="row">
                {% for product in products %}
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ base_url }}/assets/img/Uploads/{{ product[5] }}/{{ product[5] }}">
                                <span class="card-title">{{ product[2] }}</span>
                                <a id="{{ product[5] }}" href="{{ base_url }}/product?image={{ product[5] }}"
                                   methods="post" class="btn-floating halfway-fab waves-effect waves-light teal"><i
                                            class="tiny material-icons">remove_red_eye</i></a>
                            </div>
                            <div class="card-content">
                                <p>{{ product[3] }}</p>
                                <div class="price-content">
                                    <span>$</span>
                                    <p class="price">{{ product[4] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endblock %}