{% extends "base.twig" %}
    {% block title %} PWPOP {% endblock %}

    {% block body %}

        {% if  success_message != null %}
            <p class="success">{{ success_message }}</p>
        {% endif %}
        <div class="container container-margin">
            <div class="row" name="list" id="list">
                {% for product in products %}
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ base_url}}/assets/img/Uploads/{{ product[5] }}">
                                <span class="card-title">{{ product[2] }} </span>
                                {% if  logged  == true %}
                                    <a id="{{ product[5] }}" href="{{ base_url }}/buy?image={{ product[5] }}" methods="get" class="btn-floating halfway-fab waves-effect waves-light teal"><i
                                                class="tiny material-icons">attach_money</i></a>

                                    <a id="{{ product[5] }}" href="{{ base_url }}/product?image={{ product[5] }}" methods="post" class="btn-floating halfway-fab waves-effect heart-hack waves-light teal"><i
                                                class="tiny material-icons">remove_red_eye</i></a>

                                    <a id="{{ product[5] }}" href="{{ base_url }}/like?image={{ product[5] }}" methods="post" class="btn-floating halfway-fab waves-effect heart-hack2 waves-light teal"><i
                                                class="tiny material-icons">star</i></a>
                                {% endif %}

                            </div>
                            <div class="card-content">
                                <p>{{ product[3] }}</p>
                                <div class="price-content">
                                    <span>$</span>
                                    <p class="price">{{ product[4] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <a class="btn-floating brown lighten-2 bounce center" id="loadMore">{{ size }}<i class="tiny material-icons">expand_more</i></a>

        </div>


    {% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url }}/assets/js/load.js"></script>
{% endblock %}