{% extends "base.twig" %}
    {% block title %} Product {% endblock %}
    {% block titulo %} Product {% endblock %}
    {% block body %}


        {% if  success_message != null %}
            <p class="success">{{ success_message }}</p>
        {% endif %}

        {% if owner == true %}
            <div class="container">
                <div class="product-left">
                    <div class="image-product">
                        <a href="#"><img src="{{ base_url }}/assets/img/Uploads/{{ productImg }}" alt=""></a>
                    </div>
                </div>
                <div class="product-info">
                    <div class="right-grid">
                        <div class="profile_info-3">
                            <p class="name">Product Overview</p>
                            <form action="#" class="vol s12 formulario-product" id="formulario" method="post" enctype="multipart/form-data">

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="title" value="{{ title }}" type="text" name="title" >
                                        <label for="title"></label>
                                        <span class="helper-text" id="message-title"></span>
                                    </div>
                                    <div class="input-field col s6">
                                        <select class="selector" name="category" id="category">

                                            {% if category == 1 %}
                                                <option value="1" selected>Computers and electronic</option>
                                            {% else %}
                                                <option value="1">Computers and electronic</option>
                                            {% endif %}
                                            {% if category == 2 %}
                                                <option value="2" selected>Cars</option>
                                            {% else %}
                                                <option value="2">Cars</option>
                                            {% endif %}
                                            {% if category == 3 %}
                                                <option value="3" selected>Sports</option>
                                            {% else %}
                                                <option value="3">Sports</option>
                                            {% endif %}
                                            {% if category == 4 %}
                                                <option value="4" selected>Games</option>
                                            {% else %}
                                                <option value="4">Games</option>
                                            {% endif %}
                                            {% if category == 5 %}
                                                <option value="5" selected>Fashion</option>
                                            {% else %}
                                                <option value="5">Fashion</option>
                                            {% endif %}
                                            {% if category == 6 %}
                                                <option value="6" selected>Home</option>
                                            {% else %}
                                                <option value="6">Home</option>
                                            {% endif %}
                                            {% if category == 7 %}
                                                <option value="7" selected>Other</option>
                                            {% else %}
                                                <option value="7">Other</option>
                                            {% endif %}

                                        </select>
                                        <label>Category</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="price" value="{{ price }}" type="text" name="price" >
                                        <label for="price"></label>
                                        <span class="helper-text" id="message-price"></span>
                                    </div>
                                    <div class="file-field input-field col s6">
                                        <div class="btn">
                                            <span>Image</span>
                                            <input disabled type="file" name="files[]" id="file_chooser">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input value="{{ productImg }}" id="file" name="files[]" type="text" placeholder="Choose an image">
                                            <span  class="helper-text" id="message-chooser"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" id="description" name="description" value="{{ description }}" required>
                                        <label for="description"></label>
                                        <span class="helper-text" id="message-description"></span>
                                    </div>

                                </div>

                                <button id="upload" class="waves-effect waves-light btn-large hack" type="submit" formaction="{{ base_url }}/updateProduct" formmethod="post" value="upload">Upload </button>
                                <div class="waves-effect waves-light btn-large hack red darken-1" onclick="deleteProduct()" >Delete<a></a></div>

                            </form>
                        </div>

                    </div>
                </div>


        {% else %}

            <div class="container">
            <div class="product-left">
                <div class="image-product">
                    <a href="#"><img src="{{ base_url }}/assets/img/Uploads/{{ productImg }}" alt=""></a>
                </div>
            </div>
            <div class="product-info">
                <div class="right-grid">
                    <div class="profile_info-3">
                        <p class="name">Product Overview</p>
                        <form action="#" class="vol s12 formulario-product" id="formulario" method="post" enctype="multipart/form-data">

                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="title" value="{{ title }}" type="text" name="title" disabled >
                                    <label for="title"></label>
                                    <span class="helper-text" id="message-title"></span>
                                </div>
                                <div class="input-field col s6">
                                    <select class="selector">

                                        {% if category == 1 %}
                                            <option value="1" selected disabled>Computers and electronic</option>
                                        {% else %}
                                            <option value="1" disabled>Computers and electronic</option>
                                        {% endif %}
                                        {% if category == 2 %}
                                            <option value="2" selected disabled>Cars</option>
                                        {% else %}
                                            <option value="2" disabled>Cars</option>
                                        {% endif %}
                                        {% if category == 3 %}
                                            <option value="3" selected disabled>Sports</option>
                                        {% else %}
                                            <option value="3" disabled>Sports</option>
                                        {% endif %}
                                        {% if category == 4 %}
                                            <option value="4" selected disabled>Games</option>
                                        {% else %}
                                            <option value="4" disabled>Games</option>
                                        {% endif %}
                                        {% if category == 5 %}
                                            <option value="5" selected disabled>Fashion</option>
                                        {% else %}
                                            <option value="5" disabled>Fashion</option>
                                        {% endif %}
                                        {% if category == 6 %}
                                            <option value="6" selected disabled>Home</option>
                                        {% else %}
                                            <option value="6" disabled>Home</option>
                                        {% endif %}
                                        {% if category == 7 %}
                                            <option value="7" selected disabled>Other</option>
                                        {% else %}
                                            <option value="7" disabled>Other</option>
                                        {% endif %}

                                    </select>
                                    <label>Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="price" value="{{ price }}" type="text" name="price" disabled>
                                    <label for="price"></label>
                                    <span class="helper-text" id="message-price"></span>
                                </div>
                                <div class="file-field input-field col s6">
                                    <div class="btn">
                                        <span>Image</span>
                                        <input disabled type="file" name="files[]" id="file_chooser">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input value="{{ productImg }}" class="file-path validate" id="file" name="files[]" type="text" placeholder="Choose an image">
                                        <span  class="helper-text" id="message-chooser"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="description" name="description" value="{{ description }}" required disabled>
                                    <label for="description"></label>
                                    <span class="helper-text" id="message-description"></span>
                                </div>

                            </div>

                            <button id="like" class="waves-effect waves-light btn-large hack"  value="upload">Like </button>
                            <button id="buy"  formmethod="get" formaction="{{ base_url }}/buy" class="waves-effect waves-light btn-large hack" value="upload">Buy </button>


                         </form>
                     </div>

                </div>
            </div>

        {% endif %}

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
    {% endblock %}