{% extends "base.twig" %}
    {% block title %} Profile {% endblock %}
    {% block titulo %} Profile {% endblock %}
    {% block body %}

        <div class="wrapper-profile">
            <div class="left-grid">
                <div class="image_user">
                    <img src="{{ base_url }}/assets/img/Uploads/{{ profileImage }}" alt="">
                </div>
                <div class="profile_info">
                    <p class="name">{{ name }}</p>
                    <form action="#" class="vol s12" id="formulario" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="input-field col s6">
                                <input value="{{ name }}" id="name" type="text" name="name">
                                <label for="name"></label>
                                <span class="helper-text" id="message-name"></span>
                            </div>
                            <div class="input-field col s6">
                                <input value="{{ username }}" type="text" name="username" id="username" disabled>
                                <label for="username"></label>
                                <span class="helper-text" id="message-username"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input value="{{ email }}" id="email" type="text" name="email">
                                <label for="email"></label>
                                <span class="helper-text" id="message-email">{{ error_message }}</span>
                            </div>
                            <div class="input-field col s6">
                                <input value="{{ birthDate }}" type="text" id="datepicker" class="datepicker"
                                       name="birthDate">
                                <label for="datepicker"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input value="{{ phone }}" id="phone" type="tel" name="phone">
                                <label for="phone"></label>
                                <span class="helper-text" id="message-phone"></span>
                            </div>
                            <div class="file-field input-field col s6">
                                <div class="btn">
                                    <span>Image</span>
                                    <input type="file" name="files[]">
                                </div>
                                <div class="file-path-wrapper">
                                    <input value="{{ profileImage }}" class="file-path validate" id="file"
                                           name="files[]" type="text" placeholder="Choose an image">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="password" type="password" name="password">
                                <label for="password">Password</label>
                                <span class="helper-text" id="message-password"></span>
                            </div>
                            <div class="input-field col s6">
                                <input id="confirm-password" type="password" name="passwordConfirm">
                                <label for="confirm-password">Confirm Password</label>
                                <span class="helper-text" id="message-confirm-password"></span>
                            </div>
                        </div>

                        <button class="waves-effect waves-light btn-large hack" type="submit"
                                formaction="{{ base_url }}/modify" formmethod="post" value="upload">Save
                        </button>
                        <div class="waves-effect waves-light btn-large hack red darken-1" onclick="myFunction()">
                            Delete<a></a></div>

                    </form>

                    {% if  success_message != null %}
                        <p class="success">{{ success_message }}</p>
                    {% endif %}

                </div>
            </div>

        </div>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script src="{{ base_url }}/assets/js/script.js"></script>
    {% endblock %}