{% extends "base.twig" %}
    {% block title %} Upload {% endblock %}
    {% block titulo %} Upload {% endblock %}
    {% block body %}

        <div class="wrapper-profile">
            <div class="right-grid">
                <div class="profile_info-2">
                    <p class="name">Upload Product</p>
                    <form action="#" class="vol s12" id="formulario" method="post" enctype="multipart/form-data">

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="title" type="text" name="title" >
                                <label for="title">Title</label>
                                <span class="helper-text" id="message-title"></span>
                            </div>
                            <div class="input-field col s6">
                                <select class="selector" id="category" name="category">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Computers and electronic</option>
                                    <option value="2">Cars</option>
                                    <option value="3">Sports</option>
                                    <option value="4">Games</option>
                                    <option value="5">Fashion</option>
                                    <option value="6">Home</option>
                                    <option value="7">Other</option>
                                </select>
                                <label>Category</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="price" type="text" name="price" >
                                <label for="price">Price</label>
                                <span class="helper-text" id="message-price"></span>
                            </div>

                            <div class="file-field input-field col s6">
                                <div class="btn">
                                    <span>Image</span>
                                    <input type="file" name="files[]" id="file_chooser">
                                    <span class="error" id="message-email">{{ errorImg }}</span>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" id="file" name="files[]" type="file" value="" placeholder="Choose an image" multiple="multiple">
                                    <span class="helper-text" id="message-chooser">{{ errorImg }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea" class="materialize-textarea" name="description" required></textarea>
                                <label for="textarea1">Description</label>
                                <span class="helper-text" id="message-description"></span>
                            </div>

                        </div>

                        <button id="upload" class="waves-effect waves-light btn-large hack" type="submit" formaction="{{ base_url }}/uploadProduct" formmethod="post" value="upload">Upload </button>

                    </form>
                </div>

            </div>

        </div>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script src="{{ base_url }}/assets/js/upload.js"></script>
    {% endblock %}