{% extends "base.twig" %}
    {% block title %} PWPOP {% endblock %}
    {% block body %}

        <div class="navbar-fixed">
            <nav class="teal">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{{ base_url }}/" class="brand-logo "><i class="material-icons">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 19.971 19.963">
                                    <path
                                            d="M21.838,8.445h0s0,0,0,0h0a0,0,0,0,1,0,0h0a.809.809,0,0,0-.235-.228l-9.164-6.08a.834.834,0,0,0-.9,0L2.371,8.214A.79.79,0,0,0,2,8.9v6.16a.789.789,0,0,0,.131.448h0l0,0h0c0,.006.007.01.01.015v0h0s0,0,0,0a0,0,0,0,1,0,0,.823.823,0,0,0,.226.215l9.165,6.082a.795.795,0,0,0,.9,0L21.6,15.742a.8.8,0,0,0,.371-.685V8.9A.793.793,0,0,0,21.838,8.445ZM12.781,4.273l6.953,4.613L16.551,11,12.78,8.462V4.273Zm-1.592,0V8.462L7.418,11,4.237,8.887Zm-7.6,6.1,2.4,1.59L3.594,13.572v-3.2Zm7.6,9.311-6.96-4.617,3.195-2.15,3.765,2.5Zm.8-5.653L8.856,11.951l3.128-2.1,3.131,2.1Zm.8,5.653v-4.27l3.766-2.5,3.193,2.15Zm7.6-6.11-2.4-1.611,2.4-1.59Z"
                                            transform="translate(-2 -2)" fill="white" /></svg></i>PWPOP <span class="pwpop">| {{ email }}</span></a>
                        <span class="page">Upload</span>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#modal1" data-target="modal1" class="modal-trigger"><i class="tiny material-icons">search</i></a></li>
                            {% if  logged  == true %}
                                <li><a href="{{ base_url }}/profile"><i class="tiny material-icons">person</i></a></li>
                                <li><a href="{{ base_url }}/logout" methods="post" ><i class="tiny material-icons">power_settings_new</i></a></li>
                            {% else %}
                                <li><a href="{{ base_url }}/403"><i class="tiny material-icons">person</i></a></li>
                                <li><a href="{{ base_url }}/login">Sign In</a></li>
                                <li><a href="{{ base_url }}/registre">Sign Up</a></li>
                            {% endif %}
                        </ul>


                    </div>
                </div>
            </nav>
        </div>

        <div class="wrapper-profile">
            <div class="right-grid">
                <div class="profile_info-2">
                    <p class="name">Upload Product</p>
                    <form action="#" class="vol s12" id="formulario" method="post" enctype="multipart/form-data">

                        <div class="row">
                            <div class="input-field col s6">
                                <input id="title" type="text" name="title" >
                                <label for="title">Title</label>
                                <span class="helper-text" id="message-title"></span>
                            </div>
                            <div class="input-field col s6">
                                <select class="selector" id="category" name="category">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="1">Computers and electronic</option>
                                    <option value="2">Cars</option>
                                    <option value="3">Sports</option>
                                    <option value="4">Games</option>
                                    <option value="5">Fashion</option>
                                    <option value="6">Home</option>
                                    <option value="7">Other</option>
                                </select>
                                <label>Category</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="price" type="text" name="price" >
                                <label for="price">Price</label>
                                <span class="helper-text" id="message-price"></span>
                            </div>
                            <div class="file-field input-field col s6">
                                <div class="btn">
                                    <span>Image</span>
                                    <input type="file" name="files[]" id="file_chooser">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" id="file" name="files[]" type="text" placeholder="Choose an image">
                                    <span class="helper-text" id="message-chooser"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea" class="materialize-textarea" name="description" required></textarea>
                                <label for="textarea1">Description</label>
                                <span class="helper-text" id="message-description"></span>
                            </div>

                        </div>

                        <button id="upload" class="waves-effect waves-light btn-large hack" type="submit" formaction="{{ base_url }}/uploadProduct" formmethod="post" value="upload">Upload </button>

                    </form>
                </div>

            </div>

        </div>
        <footer class="section teal darken-2 white-text center">
            <p>PWPOP &copy; 2019 </p>
        </footer>

    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script src="{{ base_url }}/assets/js/upload.js"></script>
    {% endblock %}